---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-authors?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MiwzO3NldDoxLDM7Z2V0OjMsMTU=
    body:
      encoding: UTF-8
      string: '{"total_count": 10, "objects": [{"avatar": "", "bio": "", "body": {},
        "created": 1377856983000, "deleted_at": 0, "email": "testapi@hubspot.com",
        "facebook": "", "full_name": "Hub Spot", "google_plus": "", "gravatar_url":
        "https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4",
        "id": 284839243, "linkedin": "", "portal_id": 62515, "slug": "hub-spot", "twitter":
        "", "updated": 1377856983000, "user_id": 215482, "username": "testapi@hubspot.com",
        "website": ""}, {"avatar": "", "bio": "", "body": {}, "created": 1387405616000,
        "deleted_at": 0, "email": "test11+14@mangotreemedia.com", "facebook": "",
        "full_name": "Levi Test4", "google_plus": "", "gravatar_url": "https://app.hubspot.com/settings/avatar/85e87be7a1731ae52857b2b9733837aa",
        "id": 415341859, "linkedin": "", "portal_id": 62515, "slug": "levi-test4",
        "twitter": "", "updated": 1387405616000, "user_id": null, "username": null,
        "website": ""}, {"avatar": [...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-authors?hapikey=demo&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MiwxO3NldDoxLDE7Z2V0OjMsOA==
    body:
      encoding: UTF-8
      string: '{"total_count": 10, "objects": [{"avatar": "", "bio": "", "body": {},
        "created": 1377856983000, "deleted_at": 0, "email": "testapi@hubspot.com",
        "facebook": "", "full_name": "Hub Spot", "google_plus": "", "gravatar_url":
        "https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4",
        "id": 284839243, "linkedin": "", "portal_id": 62515, "slug": "hub-spot", "twitter":
        "", "updated": 1377856983000, "user_id": 215482, "username": "testapi@hubspot.com",
        "website": ""}], "limit": 1, "offset": 0}'
  recorded_at: Tue, 11 Nov 2014 02:15:46 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-authors?hapikey=demo&limit=1&offset=100
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hs-Mc-Reqs:
      - Z2V0X21hbnk6MiwzO3NldDoxLDE7Z2V0OjMsNQ==
    body:
      encoding: UTF-8
      string: '{"total_count": 10, "objects": [], "limit": 1, "offset": 100}'
  recorded_at: Tue, 11 Nov 2014 02:15:47 GMT
recorded_with: VCR 2.4.0
